:root {


    --primary-green: rgba(0, 161, 26, 255);
    --primary-white: hsl(0, 0%, 100%);
    --primary-grey: hsl(0, 0%, 50%);
    --primary-black: hsl(0, 0%, 7%);

}

body {
    font-size: 1rem;
    line-height: 1.6rem;
    font-family: "Work Sans", sans-serif;
}

.background-green {
    background: var(--primary-green);
    color: var(--primary-white);
    padding: 0;
}

nav li {

    font-weight: 500;
}

.banner-section {
    height: 100vh;
    position: relative;
}

.banner {
    z-index: 1;

}

.banner h1 {
    font-size: 6rem;
    font-weight: 800;
}

.banner p {
    font-size: 2rem;
    font-weight: 400;
}