{% extends 'base.html' %}
{% load static %}
{% block title %}About US - Discover Limerick {% endblock %}

{% block content %}
<section class="container my-5">
    <h3 class="text-center mb-4 title-with-lines">About Us</h3>
    <div class="row">
        <div class="col-1 "></div>
        <div class="col-10 ">
            <p>
                Welcome to <strong>Discover Limerick</strong>, your go-to guide for exploring the beautiful city of
                Limerick,
                Ireland. Whether you're a first-time visitor or a seasoned traveler, we aim to make your experience
                unforgettable with curated tours, local insights, and tips on the best places to visit, stay, eat, and
                explore in Limerick.
            </p>
        </div>

        <div class="col-1 "></div>
    </div>

    <div class="row">
        <h3 class="text-center py-3 title-with-lines">Our Mission</h3>
        <div class="col-1 "></div>
        <div class="col-10 py-5">
            <p>
                Our mission is to showcase the best of Limerick to the world. From the rich history of King John's
                Castle and the picturesque beauty of the River Shannon, to the modern vibrancy of the city, we help you
                uncover the hidden gems that make Limerick one of Ireland's most unique destinations.
            </p>
        </div>

        <div class="col-1 "></div>
    </div>
    <div class="row">
        <h3 class="text-center py-3 title-with-lines">Why Choose Us?</h3>
        <div class="col-1"></div>
        <div class="col-3 py-5">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <!-- Front of the card -->
                    <div class="flip-card-front">
                        <img src="{% static 'images/bus-guide-one.jpg' %}" alt="Gudied tour">
                        <div class="card-text">
                            <h4>Expert Local Knowledge</h4>

                        </div>
                    </div>
                    <!-- Back of the card -->
                    <div class="flip-card-back">

                        <p>Our team consists of locals who are passionate about their city and eager
                            to share it with visitors.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-1"></div>
        <div class="col-3 py-5">

            <div class="flip-card">
                <div class="flip-card-inner">
                    <!-- Front of the card -->
                    <div class="flip-card-front">
                        <img src="{% static 'images/wallpainting.jpg' %}" alt="King John's Castle">
                        <div class="card-text">
                            <h4>Tailored Experiences</h4>

                        </div>
                    </div>
                    <!-- Back of the card -->
                    <div class="flip-card-back">
                        <p>We offer customized tours to suit your interests, whether it's history,
                            nature, food, or culture.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
        <div class="col-3 py-5">

            <div class="flip-card">
                <div class="flip-card-inner">
                    <!-- Front of the card -->
                    <div class="flip-card-front">
                        <img src="{% static 'images/church_2.jpg' %}" alt="King John's Castle">
                        <div class="card-text">
                            <h4>Comprehensive Guides</h4>

                        </div>
                    </div>
                    <!-- Back of the card -->
                    <div class="flip-card-back">
                        <p>Get access to detailed maps, guides, and recommendations to
                            help you navigate the city with ease.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div class="col-1"></div>
    </div>

    <div class="row">
        <h3 class="text-center py-3 title-with-lines">Our Team</h3>
        <div class="col-1"></div>
        <div class="col-10 py-5">
            <p>
                The <strong>Discover Limerick</strong> team is made up of passionate locals who have a deep love for the
                city. Our
                team includes experienced tour guides, travel experts, and cultural enthusiasts, all working together to
                make your visit to Limerick truly special.
            </p>
        </div>
        <div class="col-1"></div>
    </div>

    <div class="row">
        <h3 class="text-center py-3 title-with-lines">Discover Limerick's History</h3>
        <div class="col-1"></div>
        <div class="col-4 py-5">

            <p>
                Limerick is a city steeped in history, with landmarks like the 13th-century King John's Castle and St.
                Mary's
                Cathedral,
                which dates back to the 12th century. The city's history is enriched by its Viking heritage and the role
                it
                played during
                the Irish Revolutionary period. Visitors can explore the fascinating blend of ancient and modern
                elements
                throughout the
                city.
            </p>
        </div>

        <div class="col-6 py-5">
            <img src="{% static 'images/king-johns-castle-limerick-city.jpg' %}" alt="King John's Castle"
                class="img-fluid ">
            <i class="d-block">King John's Castle</i>
        </div>
        <div class="col-1"></div>
    </div>


    <div class="row">
        <h3 class="text-center py-3 title-with-lines">Cultural Highlights</h3>
        <div class="col-1"></div>
        <div class="col-4 py-5">

            <p>
                Limerick is not only a city of history but also a hub of culture. Whether it's the vibrant Limerick City
                Gallery
                of Art
                or the annual Limerick International Arts Festival, there is always something happening to inspire and
                engage.
                Don't miss
                the chance to immerse yourself in Limerick's rich arts scene!
            </p>
        </div>

        <div class="col-6 py-5">
            <img src="{% static 'images/art-gallary.jpg' %}" alt="Limerick Art Gallery" class="img-fluid">

            <i class="d-block">Limerick City Gallery of Art</i>
        </div>
        <div class="col-1"></div>
    </div>
    <section class="section section-bottom">
        <h1 class="text-center pt-3 pb-5 mb-2 title-with-lines">Useful Links</h1>
        <section class="wrapper">
            <div class="container-fostrap">

                <div class="content">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-4">
                                <div class="card card-top">
                                    <a class="img-card" href="https://www.tourismireland.com" target="_blank">
                                        <img src="{% static 'images/link-images/tourism_Ireland_logo.jpg' %}" />
                                    </a>
                                    <div class="card-content">
                                        <h4 class="card-title">
                                            <a href="https://www.tourismireland.com" target="_blank">
                                                Tourism Ireland
                                            </a>
                                        </h4>
                                    </div>

                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4">
                                <div class="card card-top">
                                    <a class="img-card" href="https://www.tourismireland.com" target="_blank">
                                        <img src="{% static 'images/link-images/booking.jpeg' %}" />
                                    </a>
                                    <div class="card-content">
                                        <h4 class="card-title">
                                            <a href="https://www.booking.com" target="_blank">
                                                Book Your Stay in Limerick
                                            </a>
                                        </h4>
                                    </div>

                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4">
                                <div class="card card-top">
                                    <a class="img-card"
                                        href="https://www.tripadvisor.com/Tourism-g186621-Limerick_County_Limerick-Vacations.html"
                                        target="_blank">
                                        <img src="{% static 'images/link-images/tripadvisor-icon.webp' %}" />
                                    </a>
                                    <div class="card-content">
                                        <h4 class="card-title">
                                            <a href="https://www.tripadvisor.com/Tourism-g186621-Limerick_County_Limerick-Vacations.html"
                                                target="_blank">
                                                TripAdvisor - Limerick
                                            </a>
                                        </h4>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>

    </section>

    <div class="row">
        <h3 class="text-center py-3 title-with-lines">Join Us on Our Journey</h3>
        <div class="col-1"></div>
        <div class="col-10 py-5">
            <p>
                We believe that travel is more than just sightseeing—it's about connecting with people, cultures, and
                stories. Let us guide you through the heart of Limerick, where history meets modern charm, and every
                street tells a story. Explore, experience, and enjoy all that Limerick has to offer with us!
            </p>
            <p>If you have any inquiries please feel free to contact us by clicking the button below...</p>

        </div>

        <div class="col-1"></div>
    </div>

    <div class="d-flex justify-content-center">
        <a href="{% url 'contact' %}">
            <button type="button" class="btn btn-success btn-lg btn-block">Contact Us</button>
        </a>
    </div>
</section>
{% endblock %}