{% extends 'base.html' %}
{% load static %}
{% block title %}About US - Discover Limerick {% endblock %}

{% block content %}
<section class="section section-top">
    <section class="wrapper">
        <div class="container-fostrap">
            <h1 class="text-center pt-3 pb-5 mb-2 title-with-lines">Places To Visit</h1>
            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4">
                            <div class="card card-top rounded">
                                <a class="img-card" href="https://kingjohnscastle.ie/" target="_blank">
                                    <img src="{% static 'images/king-johns-castle-limerick-city.jpg' %}" />
                                </a>
                                <div class="card-content">
                                    <h4 class="card-title">
                                        <a href="https://kingjohnscastle.ie/" target="_blank">
                                            King John's Castle
                                        </a>
                                    </h4>
                                    <p class="py-2">
                                        This 13th-century castle offers an interactive experience
                                        where you can explore medieval life and enjoy stunning views over the River
                                        Shannon.</p>
                                </div>
                                <div class="card-read-more py-2">
                                    <a href="https://kingjohnscastle.ie/" class="btn btn-outline-success"
                                        target="_blank">
                                        Read More
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <div class="card card-top rounded">
                                <a class="img-card" href="https://www.saintmaryscathedral.ie/" target="_blank">
                                    <img src="{% static 'images/church.jpg' %}" />
                                </a>
                                <div class="card-content">
                                    <h4 class="card-title">
                                        <a href="https://www.saintmaryscathedral.ie/" target="_blank">
                                            St. Mary's Cathedral
                                        </a>
                                    </h4>
                                    <p class="py-2">
                                        One of Ireland's oldest buildings, this beautiful
                                        cathedral dates back to 1168 and is a stunning example of Gothic
                                        architecture
                                    </p>
                                </div>
                                <div class="card-read-more py-2">
                                    <a href="https://www.saintmaryscathedral.ie/" class="btn btn-outline-success"
                                        target="_blank">
                                        Read More
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <div class="card card-top rounded">
                                <a class="img-card" href="https://www.munsterrugby.ie/the-club/stadia/thomond-park/"
                                    target="_blank">
                                    <img src="{% static 'images/munster-stadium.jpg' %}" />
                                </a>
                                <div class="card-content">
                                    <h4 class="card-title">
                                        <a href="https://www.munsterrugby.ie/the-club/stadia/thomond-park/"
                                            target="_blank">
                                            Thomand Park
                                        </a>
                                    </h4>
                                    <p class="py-2">
                                        There's nothing like experiencing the “Munster roar” in Thomond Park and
                                        seeing the unique synergy between the Munster rugby team and the fans at a
                                        live
                                        game.
                                    </p>
                                </div>
                                <div class="card-read-more py-2">
                                    <a href="https://www.munsterrugby.ie/the-club/stadia/thomond-park/"
                                        class="btn btn-outline-success" target="_blank">
                                        Read More
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row py-5">
                        <div class="col-xs-12 col-sm-4">
                            <div class="card card-top rounded">
                                <a class="img-card" href="https://www.discoverireland.ie/limerick/lough-gur"
                                    target="_blank">
                                    <img src="{% static 'images/lough-gur-visitor-centre-limerick.jpg' %}" />
                                </a>
                                <div class="card-content">
                                    <h4 class="card-title">
                                        <a href="https://www.discoverireland.ie/limerick/lough-gur" target="_blank">
                                            Lough Gur
                                        </a>
                                    </h4>
                                    <p class="py-2">
                                        Enjoy stunning views of Lough Gur and soak up the history of the area, from
                                        its ancient burial mounds and megalithic tombs, to its forts and standing stones
                                        that remain
                                        scattered around the mysterious landscape.</p>
                                </div>
                                <div class="card-read-more py-2">
                                    <a href="https://www.discoverireland.ie/limerick/lough-gur"
                                        class="btn btn-outline-success" target="_blank">
                                        Read More
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <div class="card card-top rounded">
                                <a class="img-card" href="https://www.discoverireland.ie/adare" target="_blank">
                                    <img src="{% static 'images/manor-entrance.webp' %}" />
                                </a>
                                <div class="card-content">
                                    <h4 class="card-title">
                                        <a href="https://www.discoverireland.ie/adare" target="_blank">
                                            Adare Manor
                                        </a>
                                    </h4>
                                    <p class="py-2">
                                        Feel free to spend your whole day in "Ireland's prettiest village" and
                                        explore the amazing variety of sites on show. Lap up views of the 19th Century
                                        Adare Manor,
                                        the gorgeous thatched cottages that once housed the manor's workers and the
                                        ruins of three
                                        ancient monasteries.
                                    </p>
                                </div>
                                <div class="card-read-more py-2">
                                    <a href="https://www.discoverireland.ie/adare" class="btn btn-outline-success"
                                        target="_blank">
                                        Read More
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <div class="card card-top rounded">
                                <a class="img-card" href="https://www.discoverireland.ie/limerick/the-hunt-museum"
                                    target="_blank">
                                    <img src="{% static 'images/hunt_museum.jpg' %}" />
                                </a>
                                <div class="card-content">
                                    <h4 class="card-title">
                                        <a href="https://www.discoverireland.ie/limerick/the-hunt-museum"
                                            target="_blank">
                                            The Hunt Museum
                                        </a>
                                    </h4>

                                    <p class="py-2">
                                        In the heart of Limerick on the banks of the Shannon, the Hunt Museum's
                                        eclectic collections reflect the diverse interests of its founders, John and
                                        Gertrude Hunt.

                                    </p>
                                </div>
                                <div class="card-read-more py-2">
                                    <a href="https://www.discoverireland.ie/limerick/the-hunt-museum"
                                        class="btn btn-outline-success" target="_blank">
                                        Read More
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</section>

{% endblock %}