{% extends 'base.html' %}
{% load static %}
{% block title %}Shop{% endblock %}

{% block content %}
<section class="container my-5">
    <h2 class="text-center mb-4 title-with-lines">Our Products</h2>

    <div class="row g-4">
        <div class="col-md-4">
            <div class="card h-auto shadow-sm rounded">
                <img src="{% static 'images/wallpainting.jpg'%}" class="card-img-top img-fluid" alt="Wall Painting">
                <div class="card-body">
                    <h5 class="card-title">Mr. Squinty - Street Art</h5>
                    <p class=" text-muted">Digitial Print</p>
                    <h6 class="fw-bold text-primary price">€15.00</h6>
                    <a id="item1" class="cartBtn btn btn-outline-primary w-100">Add to Cart <i
                            class="fa-solid fa-cart-shopping"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card h-auto shadow-sm rounded">
                <img src="{% static 'images/adare-manor-limerick.jpg'%}" class="card-img-top img-fluid"
                    alt="Adare Manor">
                <div class="card-body">
                    <h5 class="card-title">Adare manor - Ariel View</h5>
                    <p class="text-muted">Digitial Print</p>
                    <h6 class="fw-bold text-primary price">€10.00</h6>
                    <a class="cartBtn btn btn-outline-primary w-100"> Add to
                        Cart <i class="fa-solid fa-cart-shopping"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card h-auto shadow-sm rounded">
                <img src="{% static 'images/guide.jpg'%}" class="card-img-top img-fluid" alt="Night Sky">
                <div class="card-body">
                    <h5 class="card-title">The Stars at Night</h5>
                    <p class=" text-muted">Digitial Print</p>
                    <h6 class="fw-bold text-primary price">€15.00</h6>
                    <a class="cartBtn btn btn-outline-primary w-100">Add to Cart <i
                            class="fa-solid fa-cart-shopping"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card h-auto shadow-sm rounded">
                <img src="{% static 'images/manor-entrance.webp'%}" class="card-img-top img-fluid" alt="Adare Manor">
                <div class="card-body">
                    <h5 class="card-title">Adare Manor, Entrance View</h5>
                    <p class=" text-muted">Digitial Print</p>
                    <h6 class="fw-bold text-primary price">€20.00</h6>
                    <a class="cartBtn btn btn-outline-primary w-100">Add to Cart <i
                            class="fa-solid fa-cart-shopping"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card h-auto shadow-sm rounded">
                <img src="{% static 'images/items/abbey.jpg'%}" class="card-img-top img-fluid" alt="Abbey">
                <div class="card-body">
                    <h5 class="card-title">The Abbey</h5>
                    <p class=" text-muted">Digitial Print</p>
                    <h6 class="fw-bold text-primary price">€15.00</h6>
                    <a class="cartBtn btn btn-outline-primary w-100">Add to Cart <i
                            class="fa-solid fa-cart-shopping"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card h-auto shadow-sm rounded">
                <img src="{% static 'images/items/castle-coast.jpg'%}" class="card-img-top img-fluid" alt="Castle">
                <div class="card-body">
                    <h5 class="card-title">The Castle By The Coast</h5>
                    <p class=" text-muted">Digitial Print</p>
                    <h6 class="fw-bold text-primary price">€10.00</h6>
                    <a class="cartBtn btn btn-outline-primary w-100">Add to Cart <i
                            class="fa-solid fa-cart-shopping"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card h-auto shadow-sm rounded">
                <img src="{% static 'images/items/doorway.jpg'%}" class="card-img-top img-fluid" alt="Doorway">
                <div class="card-body">
                    <h5 class="card-title">Doorway to Nature</h5>
                    <p class=" text-muted">Digitial Print</p>
                    <h6 class="fw-bold text-primary price">€10.00</h6>
                    <a class="cartBtn btn btn-outline-primary w-100">Add to Cart <i
                            class="fa-solid fa-cart-shopping"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card h-auto shadow-sm rounded">
                <img src="{% static 'images/items/boat.jpg'%}" class="card-img-top img-fluid" alt="Boat">
                <div class="card-body">
                    <h5 class="card-title">The Fisher Mans Boat</h5>
                    <p class=" text-muted">Digitial Print</p>
                    <h6 class="fw-bold text-primary price">€5.00</h6>
                    <a class="cartBtn btn btn-outline-primary w-100">Add to Cart <i
                            class="fa-solid fa-cart-shopping"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card h-auto shadow-sm rounded">
                <img src="{% static 'images/items/cliff-clare.jpg'%}" class="card-img-top img-fluid" alt="Cliff">
                <div class="card-body">
                    <h5 class="card-title">The Cliffs of Moher</h5>
                    <p class="text-muted">Digitial Print</p>
                    <h6 class="fw-bold text-primary price">€15.00</h6>
                    <a class="cartBtn btn btn-outline-primary w-100">Add to Cart <i
                            class="fa-solid fa-cart-shopping"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card h-auto shadow-sm rounded">
                <img src="{% static 'images/items/flag-pole.jpg'%}" class="card-img-top img-fluid" alt="Flag Pole">
                <div class="card-body">
                    <h5 class="card-title">University of Limerick</h5>
                    <p class="text-muted">Digitial Print</p>
                    <h6 class="fw-bold text-primary price">€5.00</h6>
                    <a class="cartBtn btn btn-outline-primary w-100">Add to Cart <i
                            class="fa-solid fa-cart-shopping"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card h-auto shadow-sm rounded">
                <img src="{% static 'images/items/limerick.jpg'%}" class="card-img-top img-fluid"
                    alt="King John Castle">
                <div class="card-body">
                    <h5 class="card-title">The Shannon</h5>
                    <p class="text-muted">Digitial Print</p>
                    <h6 class="fw-bold text-primary price">€15.00</h6>
                    <a class="cartBtn btn btn-outline-primary w-100">Add to Cart <i
                            class="fa-solid fa-cart-shopping"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card h-auto shadow-sm rounded">
                <img src="{% static 'images/items/sky-night.jpg'%}" class="card-img-top img-fluid" alt="Sky Night">
                <div class="card-body">
                    <h5 class="card-title">The Night Sky</h5>
                    <p class="text-muted">Digitial Print</p>
                    <h6 class="fw-bold text-primary price">€10.00</h6>
                    <a class="cartBtn btn btn-outline-primary w-100">Add to Cart <i
                            class="fa-solid fa-cart-shopping"></i></a>
                    <button id="checkBtn"></button>
                </div>
            </div>
        </div>
        <div class="mt-4 text-center">
            <button class="btn btn-success" id="checkoutBtn">Checkout</button>
        </div>
    </div>
</section>
{% endblock %}