{% extends 'base.html' %}
{% load static %}
{% block title %}Contact Us {% endblock %}

{% block content %}
<section class="container my-5">
    <h2 class="text-center mb-4  title-with-lines">Contact Us</h2>
    <form>
        <!-- Name and Email -->
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="name" class="form-label">Full Name</label>
                <input type="text" class="form-control" id="name" placeholder="Enter your name" required>
            </div>
            <div class="col-md-6">
                <label for="email" class="form-label">Email Address</label>
                <input type="email" class="form-control" id="email" placeholder="Enter your email" required>
            </div>
        </div>

        <!-- Subject -->
        <div class="mb-3">
            <label for="subject" class="form-label">Subject</label>
            <input type="text" class="form-control" id="subject" placeholder="Enter the subject" required>
        </div>

        <!-- Message -->
        <div class="mb-3">
            <label for="message" class="form-label">Message</label>
            <textarea class="form-control" id="message" rows="4" placeholder="Write your message here..."
                required></textarea>
        </div>

        <!-- Terms and Conditions Checkbox -->
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="terms" required>
            <label class="form-check-label" for="terms">I agree to the <a href="#">terms and conditions</a></label>
        </div>
        <!-- Submit Button -->
        <div class="d-flex">
            <button type="submit" class="btn btn-primary">Send Message</button>
        </div>
    </form>



</section>
{% endblock %}