{% extends 'base.html' %}
{% load static %}
{% block title %}Contact Us {% endblock %}

{% block content %}
<section class="contact-bg d-flex align-items-center justify-content-center">
    <div class="container contact-container ">
        <h2 class="text-center mb-4 title-with-lines">Contact Us</h2>
        <form>
            <!-- Name and Email -->
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8">
                    <div class="row mb-3">
                        <div class="col-12">
                            <label for="name" class="form-label">Full Name</label>
                            <input type="text" class="form-control" id="name" placeholder="Enter your name" required>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-12">
                            <label for="email" class="form-label">Email Address</label>
                            <input type="email" class="form-control" id="email" placeholder="Enter your email" required>
                        </div>
                    </div>
                    <!-- Subject -->
                    <div class="row mb-3">
                        <div class="col-12">
                            <label for="subject" class="form-label">Subject</label>
                            <select class="form-select" id="subject" required>
                                <option value="" disabled selected>Select a subject</option>
                                <option value="book-guide">Book a Guide</option>
                                <option value="more-info">More Information</option>
                                <option value="other">Other</option>
                            </select>
                        </div>
                    </div>
                    <!-- Message -->
                    <div class="row mb-3">
                        <div class="col-12">
                            <label for="message" class="form-label">Message</label>
                            <textarea class="form-control" id="message" rows="4"
                                placeholder="Write your message here..." required></textarea>
                        </div>
                    </div>
                    <!-- Terms Checkbox -->
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="terms" required>
                        <label class="form-check-label" for="terms">I agree to the <a href="#" data-bs-toggle="modal"
                                data-bs-target="#termsModal">terms and
                                conditions</a></label>
                    </div>

                    <div class="modal fade" id="termsModal" tabindex="-1" aria-labelledby="termsModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="termsModalLabel">Terms and Conditions</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <h6>1. Introduction</h6>
                                    <p>Welcome to <span>Discover Ireland</spanspan>. By accessing or using our website,
                                            you agree to
                                            comply with and be bound by the following terms and conditions. Please read
                                            them
                                            carefully.</p>

                                    <h6>2. Use of the Website</h6>
                                    <p>You agree to use this website only for lawful purposes and in a manner that does
                                        not infringe the rights or restrict the use of this website by others.</p>

                                    <h6>3. Disclaimer</h6>
                                    <p>The information provided on this website is for general purposes only. We make no
                                        representations or warranties of any kind regarding the accuracy or reliability
                                        of the information provided.</p>

                                    <h6>4. Changes to Terms</h6>
                                    <p>We reserve the right to modify these terms and conditions at any time. Changes
                                        will be effective immediately upon posting on the website.</p>

                                    <h6>5. Contact Us</h6>
                                    <p>If you have any questions about these Terms and Conditions, please contact us at
                                        <a href="mailto:discoverireland@gmail.com">discoverireland@gmail.com</a>.
                                    </p>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Submit Button -->
                    <div class="d-flex">
                        <button type="submit" class="btn btn-primary">Send Message</button>
                    </div>
                </div>
        </form>
    </div>
    <div class="col-2"></div>
    </div>
</section>

{% endblock %}